
/* Debug CSS */
* {
  /* outline: 2px solid green; */
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

html{
  scroll-behavior: smooth;
}

/* Cabeçalho */
header {
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: center; /* Add this line to center the navbar */
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #e63946;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin-left: 20px;
}

/* Botões de navegação */
.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #e63946;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
  }
  
  .ui-btn {
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    text-decoration: none; /* Adiciona essa linha para remover a sublinhado */
  }
  
  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!%";
  }

  20% {
    content: "#$_&*";
  }

  25% {
    content: "№:0*&@";
  }

  30% {
    content: "#{+.#%$";
  }

  35% {
    content: "$@}-%&#?";
  }

  40% {
    content: "?%{4@#%";
  }

  45% {
    content: "@#=.,^$%!";
  }

  50% {
    content: "##$@?2@%%";
  }

  55% {
    content: "*&%&\;1}]";
  }

  60% {
    content: "!?{%:%";
    right: 0;
  }

  65% {
    content: "|${f[4";
    right: 0;
  }

  70% {
    content: "@{4%0%";
    right: 0;
  }

  75% {
    content: "'1#_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

/* Seção Home */
#home {
    background-image: url('src/wallpaper.gif');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: white;
}

#home .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5); /* Background semi-transparente */
    padding: 20px;
    border-radius: 10px;
}

#home .intro-text {
    max-width: 400px;
}

#home .intro-image img {
    max-width: 200px;
    border-radius: 50%;
    border: 4px solid #e63946;
}

#home .ui-btn {
    border-radius: 5px;
    --btn-default-bg: rgb(231, 41, 41);
    --btn-hover-bg: rgb(231, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(231, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #8a0000;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
  }
  
#home .ui-btn {
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    text-decoration: none; /* Adiciona essa linha para remover a sublinhado */
    margin-top: 20px;
    padding: 10px 20px;
  }
  
#home  .ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
#home  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }

#home .ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

#home .ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

#home .ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat2 linear both var(--btn-animation-duration);
}

@keyframes chitchat2 {
  0% {
    content: "#";
  }

  5% {
    content: ".*";
  }

  10% {
    content: "^{@";
  }

  15% {
    content: "-!&%@#";
  }

  20% {
    content: "#@#$_&*@";
  }

  25% {
    content: "№:0*#@&@#";
  }

  30% {
    content: "#{+.#$#%$%";
  }

  35% {
    content: "$@}-%&#$#!?";
  }

  40% {
    content: "?%{4@&#!%";
  }

  45% {
    content: "@#=.,^*#$%!";
  }

  50% {
    content: "##$@?2$@.%%";
  }

  55% {
    content: "*&%&\;<#1#}]";
  }

  60% {
    content: "!?{#$#@%:%";
    right: 0;
  }

  65% {
    content: "|${#@$##f[4";
    right: 0;
  }

  70% {
    content: "@{@#%4%0%";
    right: 0;
  }

  75% {
    content: "'1¨##_0<";
    right: 0;
  }

  80% {
    content: "{0!&%";
    right: 0;
  }

  85% {
    content: "]*&>'";
    right: 0;
  }

  90% {
    content: "44";
    right: 0;
  }

  95% {
    content: "21";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

/* Seções */
section {
    padding: 25px 20px;
    background-color: #1a1a1a;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e63946;
}

section h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #e63946;
}

#about p,
#skills .skills-container,
#projects .project-gallery,
#contact form {
    max-width: 800px;
    margin: 0 auto;
}

/* Sobre */

.about-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.about-images img {
  width: 10%;
  border-radius: 10px;
  border: 2px solid #e63946;
  cursor: pointer;
}

/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, .close {
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Habilidades */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill {
  background-color: #2e2e2e;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  text-align: center;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  cursor: pointer;
  position: relative; /* Required for tooltip positioning */
  overflow: hidden; /* Required to clip the blur effect */
  min-width: calc(100% / 3);
  box-sizing: border-box;
}

.skill i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #e63946;
}

.skill h3 {
  margin-top: 0;
  color: #e63946;
}

.skill p {
  margin: 0;
}

.skill:hover .skill-content {
  filter: blur(4px);
}

.skill:hover::after {
  content: 'Clique para ver mais';
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-bottom: 30%;
  transform: translateX(-50%);
  background-color: #e63947;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.skill-content {
  transition: filter 0.3s ease;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(182, 14, 14);
    border: none;
    padding: 15px;
    font-size: 35px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}

.carousel-container:hover .carousel-button {
  opacity: 1; /* Torna visível ao passar o mouse sobre o carrossel */
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Torna o fundo mais visível ao passar o mouse */
  color: rgb(255, 255, 255); /* Altera a cor do texto ao passar o mouse */
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.centered-carousel .carousel {
  justify-content: center;
}

.centered-carousel .carousel-button {
  display: none;
}


/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
  background-color: #2e2e2e;
  margin: auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  width: 80%;
  max-width: 700px;
  color: white;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Projetos */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* .project-item {
    background-color: #2e2e2e;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.project-item h3 {
    margin-top: 0;
    color: #e63946;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
} */

.card {
  position: relative;
  width: 350px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.pr-btn {
    border-radius: 5px;
    --btn-default-bg: rgb(231, 41, 41);
    --btn-hover-bg: rgb(231, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(231, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #8a0000;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
  }
  
.pr-btn {
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    text-decoration: none; /* Adiciona essa linha para remover a sublinhado */
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
  }
  
.pr-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
.pr-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }

.pr-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.pr-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.pr-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

/* Contato */
#contact {
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#contact label {
    font-weight: bold;
}

#contact input,
#contact textarea {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-color: #e63946;
}

#contact button {
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #a0273b;
}

#contact .contact-links {
    margin-top: 20px;
}

#contact .contact-links a {
    display: inline-block;
    margin: 0 10px;
    color: #e63946;
    text-decoration: none;
}

#contact .contact-links a:hover {
    color: #a0273b;
}

#contact .contact-links i {
    margin-right: 5px;
}

/* Rodapé */
footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-links {
    margin-bottom: 10px;
}

footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #e63946;
}

/* 
.card {
  position: relative;
  transition-duration: 300ms;
  transform: rotate3d(1, -1, 1, 60deg);
  border: 4px solid #0c4a6e;
  overflow: hidden;
  border-radius: 1.25rem;
  height: 13rem;
  width: 18rem;
  background-color: #0369a1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card:hover {
  transform: rotate3d(0, 0, 0, 0deg);
}

.text-content {
  color: #f3f4f6;
}

.title {
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  font-size: 0.75rem;
}

.download-btn {
  transition-duration: 300ms;
  border: 1px solid transparent;
  background-color: #f3f4f6;
  font-weight: 600;
  color: #0369a1;
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: 170px;
}

.download-btn:hover {
  background-color: #0c4a6e;
  color: #f3f4f6;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.svg-1,
.svg-2 {
  position: absolute;
  transition-duration: 200ms, 500ms;
  bottom: -0.125rem;
  right: -5rem;
  width: 12rem;
  height: 12rem;
  z-index: 10;
  margin-top: -0.5rem;
  fill: #f3f4f6;
}

.svg-1 {
  stroke: #0c4a6e;
  stroke-width: 5;
}

.svg-2 {
  stroke: #0369a1;
  stroke-width: 2;
}

.card:hover .svg-1,
.card:hover .svg-2 {
  transform: scale(1.25);
} */

@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  header nav ul {
      flex-direction: column;
      gap: 10px;
  }
  .carousel-button {
      opacity: 1; /* Torna visível em telas menores */
  }
  .skill {
      width: calc(50% - 20px); /* Ajuste para 2 colunas em telas menores */
  }
}

@media (max-width: 480px) {
  header nav ul {
      flex-direction: column;
  }
  .skill {
      width: 100%; /* Ajuste para 1 coluna em telas muito pequenas */
  }
}